{% extends "dashboard/index.html" %}
{% load static %}
{% block extend_css %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content_dashboard %}
<h1> Sua lich cong tac </h1>
<form method = "POST" action ="{% url 'edit_pre_edit_calendar' pk=edit_workcalendar.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput1"> Thoi gian tu </label>
          <input type="datetime-local" name="worktime_from" class="form-control" value = "{{ edit_workcalendar.worktime_from|date:'Y-m-d H:i' }}" >
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput1"> Den </label>
          <input type="datetime-local" name="worktime_to"  class="form-control" value ="{{ edit_workcalendar.worktime_to|date:'Y-m-d H:i'}}" >
        </div>
    </div>
    <div class="form-group">
        <lable for="exampleFormControlInput1"> Dia diem </lable>
        <select name="Room" class = "form-control">
            {% for room in edit_room %}
<option value = "{{ room.id }}" {% if room.id == edit_workcalendar.room_id %} selected="selected" {% endif %}> {{room.name}} </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <lable for= "exampleFormControlInput1"> Noi dung </lable>
        <textarea class="form-control" aria-label="With textarea" name ="descript">{{ edit_workcalendar.descript }}
        </textarea>
    </div>
    <div class = "form-group">
        <lable for = "exampleFormControlInput1"> Nguoi chu tri </lable>
        <input type = "text" class = "form-control" value = "{{ edit_workcalendar.pic }}" name = "pic">
    </div>
    <div class = "form-group">
        <lable for = "exampleFormControlInput1"> Thanh phan </lable>
        <input type = "text" class ="form-control" value="{{ edit_workcalendar.member }}" name = "member">
    </div>
    <div class = "form-group">
        <lable for = "exampleFormControlInput1"> Chuan bi </lable>
        <input type = "text" class = "form-control" value= "{{ edit_workcalendar.service }}" name = "service">
    </div>
    <div class = "form-group">
        <lable for = "exampleFormControlInput1"> Phan cong </lable>
        <input type = "text" class = "form-control" value= "{{ edit_workcalendar.assign }}" name = "assign">
    </div>
    <button type="submit" class="btn btn-primary" > <i class="fas fa-paper-plane"></i> Sua </button>
</form>
{% endblock %}
{% load static %}
{% block extend_js %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}