{% extends "dashboard/index.html" %}
{% load static %}
{% block extend_css %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content_dashboard %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Lich cong tac</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thoi gian bat dau</th>
                            <th>Thoi gian ket thuc</th>
                            <th>Dia diem</th>
                            <th>Noi dung</th>
                            <th>Nguoi chu tri</th>
                            <th>Thanh phan</th>
                            <th>Chuan bi</th>
                            <th>Phan cong</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for WC in calendar_data_WC %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{WC.worktime_from}}</td>
                            <td> {{WC.worktime_to}}</td>
                            <td> {{WC.room.name}}</td>
                            <td> {{WC.descript}}</td>
                            <td> {{WC.pic}}</td>
                            <td> {{WC.member}}</td>
                            <td> {{WC.service}}</td>
                            <td> {{WC.work_assign}}</td>
                            <td>
                                <a href="">
                                    <i class="fas fa-check-square" title="Approve"></i>
                                </a>
                                <a href="">
                                    <i class="far fa-edit" title="Edit"></i>
                                </a>
                                <a href="{% url 'show_workcalendar' pk=WC.id %}">
                                    <i class="far fa-eye" title="View"></i>
                                </a>
                                <a href="">
                                    <i class="far fa-trash-alt" title="Delete"></i>
                                </a>  
                            </td>
                        </tr>
                        {% empty %}
                            <tr>Khong co lich tuan</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% load static %}
{% block extend_js %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}