{% extends "dashboard/index.html" %}
{% load static %}
{% block extend_css %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content_dashboard %}
<h1> Lich cong tac </h1>
<form action={% url 'list_calendar' %} >
    <button type="submit" class="btn btn-outline-dark" style="float:right;"><i class="fas fa-undo"></i>Quay lai</button>
</form>
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleFormControlInput1"> Thoi gian tu </label>
      <input class="form-control" value = "{{ workcalendar.worktime_from|date:'Y-m-d H:i'}}" disabled="disabled">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlInput1"> Den </label>
      <input class="form-control" value = "{{ workcalendar.worktime_to|date:'Y-m-d H:i' }}" disabled="disabled">
    </div>
</div>
<div class="form-group">
    <lable for="exampleFormControlInput1"> Dia diem </lable>
    <select name="room" class = "form-control" disabled = "disabled">
            <option value = "{{ workcalendar.room.id }}" selected="selected">{{ workcalendar.room.name }}</option>
    </select>
</div>
<div class="form-group">
    <lable for= "exampleFormControlInput1"> Noi dung </lable>
    <textarea class="form-control" aria-label="With textarea" disabled="disabled">{{ workcalendar.descript }}</textarea>
</div>
<div class = "form-group">
    <lable for = "exampleFormControlInput1"> Nguoi chu tri </lable>
    <input type = "text" class = "form-control" value = "{{ workcalendar.pic }}" disabled="disabled">
</div>
<div class = "form-group">
    <lable for = "exampleFormControlInput1"> Thanh phan </lable>
    <input type = "text" class ="form-control" value = "{{ workcalendar.member }}" disabled="disabled">
</div>
<div class = "form-group">
    <lable for = "exampleFormControlInput1"> Chuan bi </lable>
    <input type = "text" class = "form-control" value = "{{ workcalendar.service }}" disabled="disabled">
</div>
<div class = "form-group">
    <lable for = "exampleFormControlInput1"> Phan cong </lable>
    <input type = "text" class = "form-control" value = "{{ workcalendar.assign }}" disabled="disabled">
</div>
{% endblock %}
{% load static %}
{% block extend_js %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}