{% extends "dashboard/index.html" %}
{% load static %}
{% block extend_css %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    
{% endblock %}
{% block content_dashboard %}
<div class="card shadow mb-4">
    <form action="{% url 'approve_car' %}">
        <div class="form-row">
            <div class="form-group col-md-3">
              <label for="date-from-approve">Tu ngay:</label>
              <input type="date" class="form-control" id="date-from-approve" name="date_from_approve">
            </div>
            <div class="form-group col-md-3">
              <label for="date-to-approve">Den ngay:</label>
              <input type="date" class="form-control" id="date-to-approve" name="date_to_approve">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Tim kiem</button>
            </div>
        </div>
    </form>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Duyet Dang ky xe</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngay di</th>
                        <th>Ngay ve</th>
                        <th>Noi dung</th>
                        <th>Diem di</th>
                        <th>Diem den</th>
                        <th>Chu tri</th>
                        <th>Loai xe</th>
                        <th>Trang thai</th>
                        <th>Action</th>
                    </tr>
                </thead>
                      
                <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{car.date_start}}</td>
                            <td>{{car.date_end}}</td>
                            <td>{{car.descript}}</td>
                            <td>{{car.loc_start}}</td>
                            <td>{{car.loc_end}}</td>
                            <td>{{car.team_leader}}</td>
                            <td>{{car.get_ve_type_display}}</td>
                            <td>{{car.get_check_display}}</td>
                            <td>
                               {% if perms.workcalendar.can_approve_car %}
                                <a href="{% url 'approve' pk=car.id %}">
                                    <i class="far fa-edit" title="Edit"></i> 
                                </a>
                                {% endif %}
                                <a href="{% url 'delete_car' pk=car.id %}"
                                    onclick="return confirm('Are you sure to delete?')">
                                    <i class="far fa-trash-alt" title="Delete"></i> 
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="form-row">
        <div class="form-group col-md-10">
          
          <button type="submit" class="btn btn-primary">Duyet</button>
        </div>
    </div> -->
</div>
{% endblock %}
{% load static %}
{% block extend_js %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    
{% endblock %}